#Home {
    color: #5eb700;
}

.cf-container {
    box-sizing: content-box;
    width: 19.5%;
    height: 65%;
    position: absolute;
    top: 0%;
    left: 72%;
    transform: translate(-50%, 50%);
}

    .cf-container .cf-flame-container {
        width: 100px;
        height: 100px;
        bottom: 0px;
        position: absolute;
    }

    .cf-container .cf-log-container {
        width: 60%;
        height: 100px;
        position: absolute;
        bottom: 0px;
        left: 45px;
    }

    .cf-container .cf-flame-container#base-fire .cf-flame:nth-child(1) {
        background: #c63509;
        opacity: 0.95;
        left: 70%;
    }

    .cf-container .cf-flame-container#base-fire .cf-flame:nth-child(2) {
        background: #cd4015;
        width: 100%;
        height: 100%;
        opacity: 0.85;
        left: 93%;
    }

    .cf-container .cf-flame-container#base-fire .cf-flame:nth-child(3) {
        background: #d73e0f;
        width: 60px;
        height: 60px;
        opacity: 0.85;
        left: 125%;
    }

    .cf-container .cf-flame-container:nth-child(2) {
        width: 150px;
        height: 150px;
        bottom: 0px;
        position: absolute;
    }

        .cf-container .cf-flame-container:nth-child(2) .cf-flame {
            width: 75px;
            height: 75px;
            left: 75px;
        }

.cf-log {
    background: #723830;
    width: 20px;
    height: 30px;
    transform-origin: center;
    position: absolute;
    bottom: 0px;
    border-radius: 0.5em;
    box-shadow: 0 3px 10px #372113;
    width: 100%;
}

    .cf-log:nth-child(1) {
        transform: rotate(15deg);
    }

    .cf-log:nth-child(2) {
        transform: rotate(-15deg);
    }

.cf-flame:nth-child(1) {
    background: #f5ed8f;
}

.cf-flame:nth-child(2) {
    background: #fde239;
}

.cf-flame:nth-child(3) {
    background: #ffdc01;
}

.cf-flame:nth-child(4) {
    background: #fdac01;
}

.cf-flame:nth-child(5) {
    background: #d73e0f;
}

.cf-flame:nth-child(6) {
    background: #cd4015;
}

.cf-flame:nth-child(7) {
    background: #c63509;
}

.cf-flame:last-child {
    background: #c63509;
}

.cf-flame {
    background: #cd4015;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    position: absolute;
    bottom: 0px;
    left: 80%;
}

#fireNodes2 .cf-flame {
    -webkit-animation: flameColor 1.5s ease-out infinite;
    animation: flameColor 1.5s ease-out infinite;
}

@-webkit-keyframes flameColor {
    0% {
        background: #c63509;
    }

    20% {
        background: #cd4015;
    }

    30% {
        background: #fdac01;
    }

    50% {
        background: #ffb401;
    }

    60% {
        background: #fdac01;
    }

    70% {
        background: #ffdc01;
    }

    80% {
        background: #fde239;
    }

    100% {
        background: #f5ed8f;
    }
}

@keyframes flameColor {
    0% {
        background: #c63509;
    }

    20% {
        background: #cd4015;
    }

    30% {
        background: #fdac01;
    }

    50% {
        background: #ffb401;
    }

    60% {
        background: #fdac01;
    }

    70% {
        background: #ffdc01;
    }

    80% {
        background: #fde239;
    }

    100% {
        background: #f5ed8f;
    }
}


.dialog-container {
    position: absolute;
    width: 195px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    left: 47%;
    top: 59%;
}

.message {
    font-size: 18px;
    line-height: 1.4;
}

.dialog-container::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -2px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: rotate(45deg);
}

.dialog-container2 {
    position: absolute;
    width: 195px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    left: 82%;
    top: 59%;
}

.message2 {
    font-size: 18px;
    line-height: 1.4;
}

.dialog-container2::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: rotate(90deg);
}