
@font-face {
    font-family: 'Montserrat';
    src: url('/lib/font/ZCOOLKuaiLe-Regular.ttf') format('truetype'); /* 替换为你实际字体文件的路径 */
}

.myselft-container {
    width: 80%;
    left: 14%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    /*background-image: url("../../../image/background.png");*/
}

header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-left: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

    nav li:last-child {
        margin-right: 0;
    }

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.mainTitle {
    position: relative;
    top: 15px;
    margin-left: 30px;
}

main {
    margin-top: 100px;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-size:21px;
}

footer {
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.animationDiv {
    opacity: 0;
    position: relative;
    top: -50px; /* 初始位置上移 50px */
    transition: transform 1s, opacity 1s; /* 添加过渡效果 */
}

/* 目录样式 */
.sidebar {
    position: fixed;
    left: 3%;
    width: 11%;
    background: #f0f0f0;
    border-radius: 5px;
    opacity: 0;
    top: -50px; /* 初始位置上移 50px */
    transition: transform 1s, opacity 1s; /* 添加过渡效果 */
    display:none;
}

    /* 目录链接样式 */
    .sidebar a {
        display: block;
        padding: 0.3rem;
        text-decoration: none;
    }

.Settings {
    text-align: center;
    padding: 20px;
}

.active {
    background-color: #f0f0f0; /* 高亮背景颜色 */
    font-weight: bold; /* 高亮字体粗细 */
}

/* 高亮 */
.highlight {
    color: #5eb700;
    transition: color 0.1s ease;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}