@{
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/MainPage.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css//MainPage/MainPageStyle.css" />
<link rel="stylesheet" href="~/css/MainPage/About.css" />
<link rel="icon" type="image/x-icon" href="/Cthulhu.ico">

<div class="Main">
    <div class="KP">
        <img src="~/image/KP.png" class="img-thumbnail"/>
        <div>靖靖子</div>
        <div>混乱，无序，永生！！！！！</div>
    </div>

    <div class="PLs">
        <div class="PL">
            <img src="~/image/douji.jpg" class="img-thumbnail"/>
            <div>豆几</div>
            <div>@*このバカは怠惰で何も残していません。*@Love&peace</div>
        </div>
        <div class="PL">
            <img src="~/image/Me.jpg" class="img-thumbnail"/>
            <div>小货</div>
            <div>大家都是我~~~的天使</div>
        </div>
        <div class="PL">
            <img src="~/image/69.jpg" class="img-thumbnail"/>
            <div>69</div>
            <div>收到</div>
        </div>
        <div class="PL">
            <img src="~/image/RR.png" class="img-thumbnail"/>
            <div>R酱</div>
            <div>い!う!</div>
        </div>
    </div>

    <div class="PLs">
        <div class="PL">
            <img src="~/image/white.jpg" class="img-thumbnail"/>
            <div>筱白</div>
            <div>每天一杯靖靖子，爱来自小货</div>
        </div>
        <div class="PL">
            <img src="~/image/FunnierQTan.jpg" class="img-thumbnail"/>
            <div>来福</div>
            <div>一眼错觉，一眼万年</div>
        </div>
        <div class="PL">
            <img src="~/image/wang.bmp" class="img-thumbnail"/>
            <div>旺财</div>
            <div>“什么时候上魂天啊”</div>
        </div>
        <div class="PL">
            <img src="~/image/sheepsheep.jpg" class="img-thumbnail"/>
            <div>羊羊</div>
            <div>全国可飞！</div>
        </div>
        <div class="PL">
            <img src="~/image/yuan.gif" class="img-thumbnail"/>
            <div>老袁</div>
            <div>喝TM的蜂蜜水</div>
        </div>
    </div>
</div>
<div style="text-align: center;">---------------------------------------施工中，其他角色以及更好看的UI敬请期待---------------------------------------</div>