@{
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/MainPage.js" asp-append-version="true"></script>
<script src="~/js//Contact.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css//MainPage/MainPageStyle.css" />
<link rel="icon" type="image/x-icon" href="/Cthulhu.ico">
<link rel="stylesheet" href="/css//MainPage/Contact.css" />

<div class="Main">
    <div class="top">
        <div class="Video">
            <a href="https://www.bilibili.com/video/BV16T4y1X7us/?spm_id_from=333.337.search-card.all.click" target="_blank">
                <img class="vs" src="~/image/1.png" />
                <div style="font-size:30px" onclick="OpenVideo(https://www.bilibili.com/video/BV16T4y1X7us/?spm_id_from=333.337.search-card.all.click)">不夜城的苍白之颜</div>
            </a>
            
        </div>
        <div class="Video">
            <a href="https://www.bilibili.com/video/BV18G411h7Nc/?spm_id_from=333.337.search-card.all.click" target="_blank">
                <img class="vs" src="~/image/2.png" />
                <div style="font-size:30px" onclick="OpenVideo(https://www.bilibili.com/video/BV18G411h7Nc/?spm_id_from=333.337.search-card.all.click)">夜间的婚礼</div>
            </a>
            
        </div>
        <div class="Video">
            <a href="https://www.bilibili.com/video/BV1Z14y117dz/?spm_id_from=333.337.search-card.all.click&vd_source=519bff09317fb99756bf49f725336a7a" target="_blank">
                <img class="vs" src="~/image/3.jpg" />
                <div style="font-size:30px" onclick="OpenVideo(https://www.bilibili.com/video/BV1Z14y117dz/?spm_id_from=333.337.search-card.all.click&vd_source=519bff09317fb99756bf49f725336a7a)">跑团问答环节</div>
            </a>
            
        </div>
    </div>


    <div class="Img">
        <img class="img" src="/image/GroupCode.jpg" />
    </div>
</div>