@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/MainPage/HomeIndex.css" />
<div style="display:flex">
    <main>
        <section>
            <h2>欢迎来到我们的网站</h2>
            <a href="~/Create/BasicInfo" id="smoothLink" class="link link-success">点击此处以建立您的PC</a>
        </section>
        <section>
            <h2>资讯信息</h2>
            <ul>
                <li><a href="~/Home/QuickPlay" class="link link-primary">点击此处可以帮助您快速上手COC</a></li>
                <li><a href="~/Home/Lof_Love" class="link link-danger">克苏鲁&爱手艺</a></li>
            </ul>
        </section>
    </main>



    <div class="dialog-container">
        <div class="message">
            老兄！你也车卡吗？
        </div>
    </div>

    <div class="dialog-container2">
        <div class="message2">
            我是KP，你说呢？
        </div>
    </div>
    <div class="cf-container">
        <div>
            <img src="~/image/sitdown.png" style="transform: scaleX(-1);width:110px;position:absolute;top:76%;left:-23%" />
            <img src="~/image/sitdown.png" style="width:110px;position:absolute;top:76%;left:77.5%" />
        </div>
        <div class="cf-flame-container" id="fireNodes1">
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
        </div>
        <div class="cf-flame-container" id="fireNodes2">
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
        </div>
        <div class="cf-flame-container" id="base-fire" style="width:33.39%;height:33.41%">
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
            <div class="cf-flame"></div>
        </div>
        <div class="cf-log-container">
            <div class="cf-log"></div>
            <div class="cf-log"></div>
        </div>
    </div>
</div>
