@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <h2>欢迎来到我们的网站</h2>
        <a href="~/Create/BasicInfo" id="smoothLink" class="link link-success">点击此处以建立您的PC</a>
    </section>
    <section>
        <h2>最新动态</h2>
        <ul>
            <li><a href="#" class="link">点击此处可以帮助您快速上手COC</a></li>
            <li><a href="#" class="link">克苏鲁&爱手艺</a></li>
        </ul>
    </section>
</main>