@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/MainPage/Permanent.css">
<link rel="stylesheet" href="/css/MainPage//Patrick.css">
<link rel="stylesheet" href="/css/MainPage/Lof.css"/>
<article class="scrapbook">
  <h1>Love&craft</h1>
  <p>爱手艺大师和他不可名状的恐怖正在向你靠拢</p>

  <figure class="polaroid">
    <img src="/image/Lovecraft.png" alt="Lovecraft">
    <figcaption>
            克苏鲁神话更像是一个小说体系，是对洛夫克拉夫特作品中所呈现世界的概念设定。
            但洛夫克拉夫特自己却没有对他作品中的世界观进行过系统的整理，人们现在了解的克苏鲁神话体系大都是由他的生前好友奥古斯特·威廉·德雷斯和后世的许多作家一起整理完善的。
    </figcaption>
  </figure>
  <p>克苏鲁宇宙只是虚构的幻想世界，但洛夫克拉夫特借由其作品使人们反思：在庞大的宇宙中，人类究竟是怎样的存在，又将行之何处？正如福柯所说：“人是近期的发明，并且正接近其终点……人将被抹去，如同大海边沙地上的一张脸。”</p>

  <div class="stitch">
    <p>洛氏利用超自然的奇特生物、未知和黑暗的环境、混淆难辨的事物发展情况和无限或无形事物，制造出强烈的刺激感，让人产生极高的恐惧反应。这些超自然的强大生物有来自宇宙、古早地球，他们被人们所知，却理解不了该生物的特性。</p>
  </div>

  <figure class="polaroid">
    <img src="~/image/dice.png">
    <figcaption>也许你对神秘的宇宙保持敬畏，意图保持距离。但何尝不能用你笔下的PC开启你对克苏鲁的探索呢</figcaption>
  </figure>
    <p>“犹格·索托斯知晓大门所在。因为犹格·索托斯即是门，犹格·索托斯即是门匙，即是看门者。过去在他，现在在他，未来亦在他，因为万物皆在犹格·索托斯。他知晓旧日支配者曾于何处突破；他亦知晓旧日支配者将于何处再次突破。他知晓这世上的哪些土地曾饱受彼之蹂躏；其也知晓哪些土地仍旧承载彼之践踏；他亦知晓为何当彼践踏受难之土时，却无人得以眼见彼之容貌……犹格·索托斯即是门之匙，凭借此门无数空间在此汇聚。”
——H.P.洛夫克拉夫特《敦威治恐怖事件》</p>
  <div class="polaroid-group">
    <figure class="polaroid">
      <img src="~/image/strangeWorld.png">
      <figcaption>他笔触下的世界多为荒诞、诡异的画卷，当气氛作为其恐怖内核时，塑造一个可怖且想象力丰富的氛围则是必要的</figcaption>
    </figure>

    <figure class="polaroid">
      <img src="/image/cthulhu.jpg" alt="People sitting on the beach at night with an astonishing view of the milky way." title="Photo by Izuddin Helmi Adnan for Unsplash. ">
      <figcaption>通过“探险式”的叙事手法、角色陷入疯狂或死亡的描写、宇宙中各类不可名状的形态，将爱手艺认为黑暗无情宇宙的本质展示在我们面前</figcaption>
    </figure>
  </div>

  <p>主人公先是在不知情的情况下陷入事件——展开奇特事物和事情阐述——主人公在疑惑的心态下探索——发现自身或人类的渺小、无知，很难按照之前的认知生活，最终疯魔或死亡。</p>
  <p>或许你可以做一个刁民，让KP陷入疯狂和绝望，然后孤立他，弹劾他，让他陷入无尽的罪恶深渊，嘻嘻！</p>

  <figure class="polaroid">
    <img src="~/image/hast.png">
    <figcaption>「I! I! Hastur! Ugh! Ugh! I Hastur cf' ayak 'vulgtmm, vugtlagln vulgtmm! Ai! Shub-Niggurath! ... Hastur—Hastur cf'tagn! I! I! Hastur!. ..」</figcaption>
  </figure>

  <p>“在他眼前显现出了一系列万花筒般的幻象，然后所有这一切又不时地溶解在一片深不可测的辽阔黑暗深渊里，无数更深的黑色世界与太阳就在这片深渊里旋转。他想起了古老传说中提到的终极混沌——在那混沌的中央蔓生着盲目痴愚之神，万物之主阿撒托斯。他被大群毫无心智也没有固定形状的舞者松散地环绕着，随着由那抓握在无可名状的爪子里的可憎长笛所吹出单调低音而安顿平歇。”
——H.P.洛夫克拉夫特《夜魔》</p>

  <p>“来自最深邃的混乱中的终极而无常的祸孽，在一切无限的中心翻滚沸腾、亵渎万物——无智的魔君阿撒托斯，没有唇舌敢高呼其名。在时间彼端的不可思议的幽暗厅堂之内，在可憎邪鼓低沉疯狂的击打声和骇人魔笛空洞单调的嚎叫声中央，它饥饿的侵蚀着。”<br />——H.P.洛夫克拉夫特《梦寻秘境卡达斯》</p>
</article>

<script src="~/js/Lof.js"></script>