@{
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/echarts.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap-table-1.15.3/bootstrap-table.js"></script>
<script src="~/lib/layer/layer.js"></script>
<script src="~/lib/cropperjs/dist/cropper.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/bootstrap-table-1.15.3/bootstrap-table.css" />
<link rel="stylesheet" href="~/lib/layer/theme/default/layer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/cropperjs/dist/cropper.min.css" asp-append-version="true" />
<link rel="stylesheet" href="/css//MainPage/MainPageStyle.css" />
<link rel="stylesheet" href="/css/CreatePL/BasicInfo.css" />
<link rel="icon" type="image/x-icon" href="/Cthulhu.ico">

@*<div class="sidebar">
    <ul>
        <li style="margin-left: 20px;margin-top: 15px;">快速定位</li>
        <li style="margin-left:40px;"><a href="#section1">角色基本信息</a></li>
        <li style="margin-left:40px;"><a href="#section2">角色固有资产</a></li>
        <li style="margin-left:40px;"><a href="#section3">角色技能分配</a></li>
        <li style="margin-left:40px;"><a href="#section4">角色背景故事</a></li>
        <li style="margin-left:40px;">
            <div class="flexli">总职业点：<p id="PROF">0</p></div>
            <div class="flexli">总兴趣点：<p id="INTEREST">0</p></div>
            <div class="flexli">已使用职业点：<p id="EXPROF">0</p></div>
            <div class="flexli">已使用兴趣点：<p id="EXINTEREST">0</p></div>
        </li>
    </ul>
</div>*@

<div class="reveal-content">
    <div class="content">
        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色基本信息
        </div>
        <div id="section1" class="target">
            <div class="mb-3" style="display: flex;justify-content:center;">
                <div style="line-height: 35px;">曾经保存过的角色：</div>
                <select class="form-select" style="width:15%;margin-right:4px;" id="characterSelect" selectedIndex="-1">
                    <option disabled selected>----请选择角色----</option>
                </select>
                <button class="btn btn-danger" id="delButton" onclick="DeltheCharactor()" disabled>删除该角色卡</button>
            </div>
            <div class="mb-3" style="display: flex;justify-content:center;">
                <div style="margin-right:8px;">
                    <label class="form-label">姓名</label>
                    <input type="text" id="Name" class="form-control" placeholder="您角色的姓名">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">玩家</label>
                    <input type="text" id="Player" class="form-control" placeholder="您本人的昵称或姓名">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">时代</label>
                    <select class="form-select" id="Century" style="min-width:100px;">
                        <option>1920s</option>
                        <option>现代</option>
                        <option>其他</option>
                    </select>
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">职业</label>
                    <input type="text" id="pref" class="form-control" placeholder="根据职业表选择职业" onclick="ProfessionList()" style="cursor:pointer;">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">职业序号</label>
                    <input type="text" id="prefid" class="form-control" readonly placeholder="根据职业名自动生成">
                    <input type="text" id="description" style="display:none" />
                    <input type="text" id="credit" style="display:none" />
                    <input type="text" id="status" style="display:none" />
                </div>
                <div>
                    <div class="avatar-box">
                        <div id="cropper-container">
                        <img id="avatar-image" src="#" >
                        </div>
                        <div id="avatar-text" style="font-size: 15px;">可以有角色形象噢</div>
                        <div class="overlay">
                            <label for="file-input" class="btn btn-secondary" style="width: 100%;" onclick="ImgSetting()">头 像 设 置</label>
                            <input type="button" id="button-input" style="display: none;">
                        </div>
                    </div>
                </div>
                @*<img src="~/image/Me.jpg" id="testimg" style="margin-top:120px"/>*@
            </div>
            <div class="mb-3" style="display: flex;justify-content:center;margin-top: -75px;">
                <div style="margin-right:8px;">
                    <label class="form-label">年龄<img src="~/image/提示.png" style="width:20px;" id="AgeTips" /></label>
                    <input type="text" id="Age" class="form-control" placeholder="您角色的年龄">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">性别</label>
                    <input type="text" id="Sex" class="form-control" placeholder="您角色的性别">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">住地</label>
                    <input type="text" id="Addr" class="form-control" placeholder="您角色的住址">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">故乡</label>
                    <input type="text" id="Hometown" class="form-control" placeholder="您角色的籍贯">
                </div>
                <div style="margin-right:8px;">
                    <label class="form-label">幸运</label>
                    <div class="input-group mb-3">
                        <input type="text" id="Luck" class="form-control" placeholder="随机你的幸运值" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" onclick="RandomLuck()">随机</button>
                    </div>
                </div>
            </div>
            <div style="display:flex;justify-content: center;margin-bottom: 4px;">
                <div style="margin-right:1rem;display:flex;">
                    <label>生命值：</label>
                    <div id="LifePoint">0</div>
                </div>
                <div style="margin-right:1rem;display:flex;">
                    <label>魔法值：</label>
                    <div id="MagicPoint">0</div>
                </div>
                <div style="margin-right:1rem;display:flex;">
                    <label>理智值：</label>
                    <div id="SanPoint">0</div>
                </div>
                <div style="margin-right:1rem;display:flex;">
                    <label>伤害加值：</label>
                    <div id="DamagePoint">0</div>
                </div>
            </div>
            <div style="display:flex;justify-content: center;">
                <p style="width:100px;margin-top:15px;">总购点数：</p>
                <input id="SumPoint" class="form-control" type="text" value="480" style="width:60px;text-align: center;margin-right:10px;" />
                <p style="width:100px;margin-top:15px;">已分配点数：</p>
                <p style="width:100px;margin-top:15px;" id="UsedPoint">0</p>
            </div>

            <label class="form-label">力量</label>
            <div style="display:flex">
                <input type="range" id="StrRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="StrShow">50</div>
            </div>

            <label class="form-label">体质</label>
            <div style="display:flex">
                <input type="range" id="ConRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="ConShow">50</div>
            </div>

            <label class="form-label">体型</label>
            <div style="display:flex">
                <input type="range" id="SizeRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="SizeShow">50</div>
            </div>

            <label class="form-label">敏捷</label>
            <div style="display:flex">
                <input type="range" id="DexRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="DexShow">50</div>
            </div>

            <label class="form-label">外貌</label>
            <div style="display:flex">
                <input type="range" id="AppRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="AppShow">50</div>
            </div>

            <label class="form-label">智力</label>
            <div style="display:flex">
                <input type="range" id="IntRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="IntShow">50</div>
            </div>

            <label class="form-label">意志</label>
            <div style="display:flex">
                <input type="range" id="PowRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="PowShow">50</div>
            </div>

            <label class="form-label">教育</label>
            <div style="display:flex">
                <input type="range" id="EduRange" class="form-range" style="margin-right:8px;margin-bottom: 4px;">
                <div id="EduShow">50</div>
            </div>
            <div style="display:flex;justify-content: end;margin-top:10px;">
                <button class="btn btn-success" id="Propoties">确认</button>
            </div>

        </div>

        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色固有资产
        </div>
        <div id="section2" class="target">
            <div style="margin-bottom: 10px;">
                <button class="btn btn-primary  btn-weapon" id="WeaponChoose" onclick="WeaponChoose()">选择武器</button>
                <table id="Weapon" class="table table-hover"></table>
            </div>
            <div style="display:flex;margin-top: 4px;">
                <div style="width:50%">
                    <button class="btn btn-primary" onclick="AddNewRow()" style="float: right;margin-bottom: 6px;">额外随身物品</button>
                    <table id="Carryon" class="table"></table>
                </div>
                <div style="width:50%;margin-left:4px;margin-top:44px;">
                    <div class="input-group" style="height:100%;">
                        <span class="input-group-text">其他资产列举</span>
                        <textarea class="form-control" id="Other"></textarea>
                    </div>
                </div>
            </div>
            
        </div>

        
        <div style="display: flex; justify-content: space-between;">
            <button class="btn btn-primary" id="toggleButton" style="margin-left: 15px;">展开/收起表格</button>
            <img src="~/image/提示.png" style="width:38px;" id="IconTips" />
        </div>
        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色技能分配
        </div>
        <div id="section3" class="target" style="display:flex;">
            <table id="Skill1" class="table" ></table>
            <table id="Skill2" class="table" ></table>
        </div>
        <div style="display:flex;justify-content: end;margin-top:10px;position: relative;top: -195px;">
            <button class="btn btn-success" id="Skills">确认</button>
        </div>

        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色背景故事
        </div>
        <div style="display:flex;">
            <div id="section4" class="target" style="width:50%">
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">形象描述</span>
                    <input type="text" class="form-control" id="AppDescription">
                    <button class="input-group-text" id="tipsMain">关键连接</button>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">思念与信仰</span>
                    <input type="text" class="form-control" id="Faith">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">重要之人</span>
                    <input type="text" class="form-control" id="Important">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">意义非凡之地</span>
                    <input type="text" class="form-control" id="ImportantPlace">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">宝贵之物</span>
                    <input type="text" class="form-control" id="Treasure">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">特质</span>
                    <input type="text" class="form-control" id="Peculiarity">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">难言之隐</span>
                    <input type="text" class="form-control" id="HardTell">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">伤口和疤痕</span>
                    <input type="text" class="form-control" id="Scar">
                    <span class="input-group-text"><input type="checkbox" class="KeyConnection"/></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text spanheader">恐惧症和狂躁症</span>
                    <input type="text" class="form-control" id="Phobia">
                </div>
                
            </div>

            <div class="target" style="width: 50%;">
                <div class="input-group">
                    <span class="input-group-text spanheader">背景故事</span>
                    <textarea class="form-control" aria-label="With textarea" id="BackgroundStory" style="height: 470px;"></textarea>
                </div>
            </div>
        </div>

        <div style="display:flex;justify-content:end;"><img src="~/image/提示.png" id="ExTips" width="40px;"/></div>
        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色个人经历
        </div>
        <div id="section5" class="target">
            <div style="display:flex;">
                <div style="min-width:28%">
                    <button class="btn btn-primary" id="Experience" onclick="ExperienceAdd()">经历</button>
                    <button class="btn btn-danger" id="DelEx" onclick="ExperienceDel()">删除</button>

                </div>
                <div style="min-width:28%;margin-left: 37px;">
                    <button class="btn btn-primary" id="Mythic" onclick="MythicAdd()">神话</button>
                    <button class="btn btn-danger" id="DelMythic" onclick="MythicDel()">删除</button>
                </div>
                <div style="min-width:40%;margin-left: 10px;">
                    <button class="btn btn-primary" id="Magic" onclick="MagicAdd()">法术</button>
                    <button class="btn btn-danger" id="DelMagic" onclick="MagicDel()">删除</button>
                </div>
            </div>
            <div style="display:flex;" id="ExtraContent">
                <div style="min-width:28%;max-width:28%;margin-top:4px" id="ExperienceContent">
                    
                </div>
                <div style="min-width:28%;max-width:28%;margin-left: 37px;margin-top:4px" id="MythicContent">
                    
                </div>
                <div style="min-width:40%;margin-left: 10px;margin-top:4px" id="MagicContent">
                    
                </div>
            </div>
        </div>

        <div style="display:flex;font-size:22px;" class="card-header">
            <div class="Thirdtitle"></div>角色属性图
        </div>
        <div id="section6" class="target" style="display:flex;">
            <div id="radarChart" style="width: 48%; height: 400px;"></div>
            <div id="radarChart2" style="width: 48%; height: 400px;"></div>
        </div>
        <div style="position:relative;top:-100px;display:flex;justify-content:end">
            <button class="btn btn-primary" id="previewButton" onclick="previewPageContent()" style="margin-right: 4px;">预览</button>
            <button class="btn btn-primary" id="saveButton" onclick="savePageContent()">保存</button>
        </div>
    </div>
    
</div>

<script src="/js/BasicInfo.js" asp-append-version="true"></script>
