@{
    Layout = "";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap-table-1.15.3/bootstrap-table.js"></script>
<script src="~/lib/layer/layer.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap-table-1.15.3/bootstrap-table.css" />
<link rel="stylesheet" href="/css//MainPage/MainPageStyle.css" />
<link rel="stylesheet" href="~/lib/layer/theme/default/layer.css" asp-append-version="true" />
<style>
    .search-input {
        margin-left:4px;
    }
</style>

<table class="table" id="Prefs"></table>

<script src="~/js/PrefList.js" asp-append-version="true"></script>
