@{
    //var barbaScriptPath = "~/lib/@barba/core/dist/barba.umd.js";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CallOfCthulhuImport</title>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/layer/theme/default/layer.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css//MainPage/MainPageStyle.css" />
    <link rel="icon" type="image/x-icon" href="/Cthulhu.ico">
</head>
<body id="AllPages">
    <header style="z-index: 9999;">
        <h1>欢迎 调查员</h1>
        <nav class="mainTitle">
            <ul>
                <li>
                    <a href="~/Home/Index" class="link">主页</a>
                </li>
                <li>
                    <a href="~/Home/About" class="link">关于我们</a>
                </li>
                <li>
                    <a href="~/Home/Contact" id="Contact_us" class="link">联系我们</a>
                </li>
                <img src="~/image/设置.png"  style="cursor:pointer;width:30px;height: 30px;" onclick="Settings()"/>
            </ul>
            
        </nav>
    </header>
    <div class="sidebar">
        <ul id="RenderSide">
            <li style="margin-left: 20px;margin-top: 15px;">快速定位</li>
            <li style="margin-left:40px;"><a href="#section1">角色基本信息</a></li>
            <li style="margin-left:40px;"><a href="#section2">角色固有资产</a></li>
            <li style="margin-left:40px;"><a href="#section3">角色技能分配</a></li>
            <li style="margin-left:40px;"><a href="#section4">角色背景故事</a></li>
            <li style="margin-left:40px;"><a href="#section5">角色个人经历</a></li>
            <li style="margin-left:40px;"><a href="#section6">角色属性图</a></li>
            <li style="margin-left:40px;">
                <div class="flexli">总职业点：<p id="PROF">0</p></div>
                <div class="flexli">总兴趣点：<p id="INTEREST">0</p></div>
                <div class="flexli">已使用职业点：<p id="EXPROF">0</p></div>
                <div class="flexli">已使用兴趣点：<p id="EXINTEREST">0</p></div>
            </li>
        </ul>
    </div>
    <div class="myselft-container animationDiv" style="position: relative;">
        <main class="pb-3" id="RenderBody">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div>版权所有 © 2023 Cthulhu</div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="/js/MainPage.js" asp-append-version="true"></script>
